@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel-left {
  animation: carousel-left 12s linear infinite;
}

.carousel-right {
  animation: carousel-right 12s linear infinite;
}

@keyframes carousel-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes carousel-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

